%header
  订餐
#wrapper.wrapper.scrollable
  %form.wrapper-inner
    %fieldset.form-wrapper
      .break20
      .break20
        %a.btn-style.btn-3.text-center(ng-tap = 'go_help_ordering_page()')
          帮订餐
      .break20
        %a.btn-style.btn-3.text-center(ng-tap = 'go_orders_show_page()')
          看订单