%header
  选套餐
  .header-left
    %a.btn-style.btn-4(ng-tap = 'back()')
      Back
#wrapper.wrapper.scrollable
  %ul.list-group
    %li.list-group-item(ng-repeat = 'food in foods' ng-tap = "select_food({{food}})")
      {{food.name}}
      .badge ${{food.price}}
