.beyond_price {
    color: #FA0522;
}

.within_price {
    color: #000;
}

.font-white {
    color: #fff;
}

.bg-color-white {
    background-color: #fff;
}

.padding-left-0 {
    padding-left: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}

align-right {
    text-align: right;
}

align-left {
    text-align: left;
}

#editor {
    position: absolute;
    width: 50%;
    height: 50%;
}